* {
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;;
	box-sizing: border-box;
	scroll-behavior: smooth;
	letter-spacing: -0.3px;
	background-color: #eaeaea;
	word-break: keep-all;
}

.body_container {
	height: 100vh;
	width: 100%;
	background-image: url(images/);
	background-size: cover;
	background-position: center;
}





nav {
	margin: auto;
	width: 75%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
	margin-bottom: 30px;
}


.logo {
	letter-spacing: 1px;
	cursor: pointer;
	font-size: 27px;
	font-weight: bold;
	letter-spacing: -0.3PX;
	font-family: 'Righteous', cursive;
}

.btn0 {
	background-color: #eaeaea;
	color: #000000;
	text-decoration: none;
	padding: 5px 20px;
	margin-left: 5px;
	border: 1.5px solid #000000;
	border-radius: 30px;
	font-size: 13px;
	font-weight:300;
}

.btn1 {
	background-color: #000000;
	color: #ffffff;
	text-decoration: none;
	padding: 5px 20px;
	margin-left: 5px;
	border: 1.5px solid #000000;
	border-radius: 30px;
	font-size: 13px;
	font-weight:300;
}

.btn:hover {
	background-color: #000000;
	color: #ffffff;
	border: 1px solid #eaeaea;

}




section {
	padding: 1px 13% 50px;

}

.home {
	height: 88vh;
	width: 100%;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}

.homeimage2{
	display: none;
} 


.homeimage img {
	width: 100%;
	height: auto;
	margin-left: px;
}

.content {
	margin-left: 0px;
}

.content h1 {
	color: ;
	margin-bottom: 10px;
	font-size: 35px;
	font-family: 'Noto Sans KR', sans-serif;
}

.content p {
	color: ;
	font-size: 15px;
	margin-bottom: 30px;
}

.content .btn2 {
	background-color: #ff8523;
	color: #000000;
	text-decoration: none;
	border: 1px solid #eaeaea;
	width: 170px;
	height: 45px;
	border-radius: 30px;
	font-size: 15px;
	cursor: pointer;
}



.content_section {
	background-color: white;
	
}


.main_text {
	margin-top: 200px;
}

.main_text p {
	background-color: white;
	font-size: 30px;
	margin: auto;
	text-align: center;

}

.main_text p span {
	background-color: white;
	color: #ff8523;
	font-weight: bold;
}






.image_slider {
	display: block;
	width: 100%;
	overflow-x: scroll;
	padding: 10px;
	box-sizing: border-box;
	padding-top: 50px;
	margin: auto;
	background-color: white;
}

.horizontal_slider::-webkit-scrollbar {
	display: none;
}

.image_container {
	background-color: white;
 	display: block;
 	white-space: nowrap;

}

.item {
	background-color: white;
	display: inline-block;
	margin-right: 1px;
}

.item img {
	height: 200px;
}




.search_content {
	text-align: center;
	background-color: white;
}

#search {
	background-color: white;
	display: inline-block;
	width: 35%;
	padding: 7px 15px 7px 15px;
	border: 2px solid;
	outline: none;
	border-radius: 20px;
	font-size: 14px;
	margin-top: 20px;
}

#search2 {
	
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 20px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 20px;
	font-size: 15px;
	font-weight: 300;
}






.place_container {
	background-color: white;
	height: 65vh;
	width: 100%;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2rem;
}


.place_container img {
	width: 70%;
	height: auto;
	margin-left: 60px;
}

.place_container .big_content {
	background-color: white;
}

.place_container .big_content h1 {
	font-size: 20px;
	background-color: white;
	margin-bottom: 20px;
}


.place_container .big_content p {
	font-size: 15px;
	background-color: white;
	margin-bottom: 20px;
}






.mini_text {
	background-color: white;
	font-size: 15px;
	text-align: center;
	margin-top: 10px;
}












@media only screen and (max-width: 700px) {


section {
	padding: 1px 5% 50px;
	}


	.content h1 {
	margin-bottom: 10px;
	font-size: 25px;
	font-family: 'Noto Sans KR', sans-serif;
	text-align: center;
	}

	.content p {
	font-size: 13px;
	margin-bottom: 30px;
	text-align: center;
	}

	.content .btn2 {
	background-color: #ff8523;
	color: #000000;
	text-decoration: none;
	border: 1px solid #eaeaea;
	width: 160px;
	height: 40px;
	border-radius: 30px;
	font-size: 15px;
	cursor: pointer;
	align-items: center;
	display: block;
	text-align: center;
	margin: 0 auto;
	}

	.homeimage2 {
	display: initial;
	margin: auto;
	} 

	.homeimage2 img {
		width: 100%;
		height: auto;
		margin-left: 10px;
		margin-top: 30px;
	}

	.homeimage img {
	display: none;
	}

	.home {
	height: 88vh;
	width: 100%;
	position: relative;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
	gap: 2rem;
	}





	.main_text p {
		font-size: 22px;
	}

	#search {
		display: inline-block;
		width: 60%;
		padding: 7px 15px 7px 15px;
		border: 2px solid;
		outline: none;
		border-radius: 20px;
		font-size: 14px;

	}

	#search2 {
		
		display: inline-block;
		outline: none;
		border: none;
		padding: 10px 20px;
		background-color: #000000;
		color: #ffffff;
		border-radius: 20px;
		font-size: 15px;
		font-weight: 300;
		margin-left: 5px;
	}



	.place_container {
	background-color: white;
	height: 65vh;
	width: 100%;
	position: relative;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
	gap: 2rem;
}


.place_container img {
	width: 60%;
	height: auto;
	margin:  auto;
	align-items: center;
}

.place_container .big_content {
	background-color: white;
}

.place_container .big_content h1 {
	font-size: 18px;
	background-color: white;
	margin-bottom: 10px;
	text-align: center;
}


.place_container .big_content p {
	font-size: 13px;
	background-color: white;
	text-align: center;
}


.mini_text {
	background-color: white;
	font-size: 13px;
	text-align: center;
	margin-top: 25px;
}


}

	




